@import url(https://fonts.googleapis.com/css?family=Lobster);

.navbar .navbar-collapse {
    text-align: right;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 18px    ;
}

.container {
    margin: 5px;
}

.item {
    padding: 10px !important;
}

.borderless {
    border-left-style: none;
    border-right-style: none;
}

body {
    overflow:scroll;
    background-color: #000000;
}

.eight {
    color: #000000 !important;
    width: 50%;
}

h1, h2, h3, h4, h5, h6 {
    color:#ffffff !important;
}

.wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.ion-chevron-right, .ion-chevron-left, .ion-person-stalker, .ion-person {
    font-size: 30px !important;
}

.groupInd {
    font-size: 30px;
    border-radius:30px;
    color: #d7d7d7;

}

.groupIndIcon {
    padding-top: 5px;
}

.groupIndPage {
    padding-top: 13px;
    float: right;
    font-size: 25px;
}

.searchbar {
    background-color: transparent !important;
    color: #ffffff !important;
    font-size: 20px !important;
}

input:placeholder-shown {
    color: #e3e3e3;
}

.placeholder-icon {
    padding-bottom: 25px;
}

.tableBodyText {
    color: #d8d8d8;
}

.thh{
    color: #64e3ee;
    font-weight: bold;
    font-size: 30px;
}

.thhi {
    font-size: 20px; 
}

.speaker {
    display: inline-block;
}

.center {
    text-align: center;
    vertical-align: central !important;
}

.centerit {
    text-align: left;
    vertical-align: central !important;
    font-weight: bold;
    margin-top: 20px !important;
}

.profileA {
    color: #02b3d0;
}

.profileB {
    color: #ffa500;
}

.profileC {
    color: #5eff89;
}

.profileD {
    color: #fc93fd;
}

.backgroundless {
    background: rgba(0,0,0,0);
}

.button-outline {
    border-width: 5px;
}

.homebutton {
    font-size: 25px;
}

.homeclick {
    background: rgb(35,35,35) !important;
}

.button-outline:hover {
    background: #98afc7 !important;
}

.homerow {
    padding-left: 40px !important;
}

.paddie {
    padding-left: 45px !important;
    padding-right: 45px !important;
    line-height: 150%;
}

.no-pad {
    padding : 0px !important;
    margin : 0px !important;
}

.centerits {
    display: inline-block;
}

.slogan {
    color: orange !important;
}

.banner {
    color: white !important;
    font-size: 100px !important;
}

.navbar-brand {
    padding: 0px !important;
    padding-left: 10px !important;
}

.white {
    color: white;
}