<br>
<br>
<div class="col-lg-4">
    <img src="/img/featured.png" width="100%">
    <div class="col-lg-6 col-md-6 col-sm-6">
    <a href="https://play.google.com/store/apps/details?id=com.lixiapps.dseHelper&hl=en"><img src="/img/google-play.png" width="100%"></a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <a href="https://itunes.apple.com/us/app/starchat-dse-dse-ying-yu-kou/id1016290226?mt=8"><img src="/img/appstore.png" width="100%"></a>
    </div>
</div>
<div class="col-lg-8">
    <div class="col-lg-3">
        <img src="/img/s1_2.png" width="100%">
    </div>
    <div class="col-lg-3">
        <img src="/img/s2_2.png" width="100%">
    </div>
    <div class="col-lg-3">
        <img src="/img/s3_2.png" width="100%">
    </div>
    <div class="col-lg-3">
        <img src="/img/s4_2.png" width="100%">
    </div>
</div>