<div>
    <div class="jumbotron backgroundless">
        <h1 class="center banner">歡迎使用StarChat DSE!</h1>
        <br>
        <h2 class="center slogan">StarChat DSE 邀請HKDSE歷屆獲得優異英語口試成績的考生進行錄音,</h2>
        <h2 class="center slogan">示範英語口試的得分技巧以及談話內容,以幫助各位更好應付英語口試考試.</h2>
        <br>
        <p class="center"><a href="/about"><button class="button button-light button-outline homeclick" role="button"><span class="homebutton">WHO ARE THE PEOPLE BEHIND THIS AWESOME PROJECT?</span></button></a></p>
        <br>
        <p class="center"><a href="/browse"><button class="button button-light button-outline homeclick" role="button"><span class="homebutton">LET'S START LEARNING!</span></button></a></p>
    </div>
    <div class="col-lg-3 center">
        <img src="/img/circle1.png" width="100" height="100">
        <h3 class="paddie">StarChat DSE 為你提供高達17個獨家英文口語示範,每一題皆設有小組討論和個人回應部分.</h3><br>
    </div>
    <div class="col-lg-3 center">
        <img src="/img/circle2.png" width="100" height="100">
        <h3 class="paddie">StarChat DSE 為你提供不同程度的英文口語示範,同時亦有充足的5**示範,以求讓同學從英語最優秀的同輩身上學習.</h3><br>
    </div>
    <div class="col-lg-3 center">
        <img src="/img/circle3.png" width="100" height="100">
        <h3 class="paddie">StarChat DSE 為你提供所有題目的字幕,並且配有語法更正,讓同學學習更輕鬆,更方便.</h3><br>
    </div>
    <div class="col-lg-3 center">
        <a href="https://play.google.com/store/apps/details?id=com.lixiapps.dseHelper&hl=en"><img src="/img/android.png" width="100" height="100"></a>
        <a href="https://itunes.apple.com/us/app/starchat-dse-dse-ying-yu-kou/id1016290226?mt=8"><img src="/img/apple.png" width="100" height="100"></a>
        <h3 class="paddie" >StarChat DSE 設有 Apple 與 Android 手機APP版本,方便同學隨時聆聽,隨時學習.</h3><br>
    </div>
    <br>
</div>